<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">
            
              <div class="col-md-4 col-sm-4 col-xs-12"></div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h1>Register</h1>
                <form>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name"  placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email"  placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="cnf-pwd">Confirm Password</label>
                      <input type="password" class="form-control" id="cnf-pwd" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                      <label for="profile-pic">Example file input</label>
                      <input type="file" accept="image/*" class="form-control-file" id="profile-pic">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12"></div>
          </div>
      </div>
    

   
  </body>
</html >
