<!doctype html>
<html>

<%- include('header'); -%>

<body>
    <%- include('navbar'); -%>
    <div class="container">
        <div class="row grid-divider well">
            <div class="col-sm-4">
                <div style="margin-bottom: 50px"></div>
                <img class="thumbnail" >Thumbnail</img>
            </div>
            <div class="col-sm-7" style="margin-bottom: 10px">
                <h2 id="title">Title</h2>
                <h5>Subtitle</h5>
            </div>
            
            <div class="col-sm-7" style="margin-bottom: 30px">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#reviewsModal">Reviews</button>

            <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="reviewsModalLabel">Reviews</h4>
                        </div>
                        <div class="modal-body">

                            <form action="/api/newreview" id="newnote" method="post" style="margin-bottom: 50px">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" name="title">
                                </div>
                                <div class="form-group">
                                    <label>Review</label>
                                    <textarea class="form-control" rows="4" name="content"></textarea>
                                </div>

                                <button type="submit" class="btn btn-success">Add Review</button>
                            </form>

                            
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><b></b> by user profile link</a></h3>
                                </div>
                                <div class="panel-body">
                                    blah blah
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            
            <div class="btn-group" role="group">
                    <select id="status" class="selectpicker show-tick" data-style="btn-primary" title="Update Status" data-width="160px">
                            <option>Want To Read</option>
                            <option>Currently Reading</option>
                            <option>Already Read</option>
                            </select>
            </div>

            
            <br><br>
            <p id="author"><b>Author:</b> author name</p>
            <p><b>Publisher:</b> publisher name</p>
            <p><b>ISBN:</b> ISBN number</p>
            <p><b>Genre:</b> genre</p>
            </div>
            <div class="col-sm-7 desc">
                description
            </div>
            <div>
                <form class="rating">
                    <label>
                      <input type="radio" name="stars" value="1" />
                      <span class="icon">★</span>
                    </label>
                    <label>
                      <input type="radio" name="stars" value="2" />
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                    </label>
                    <label>
                      <input type="radio" name="stars" value="3" />
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                      <span class="icon">★</span>   
                    </label>
                    <label>
                      <input type="radio" name="stars" value="4" />
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                    </label>
                    <label>
                      <input type="radio" name="stars" value="5" />
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                      <span class="icon">★</span>
                    </label>
                </form>
                <br><br>
                <p>Add your review: 
                    <div style="padding-left:34%">
                        <input id="input-id" type="text">
                    </div>
                </p>
            </div>
        </div>

        
    </div>
</body>

</html>